
@{
    ViewData["Title"] = "Index";
}

<h1>User Index</h1>
@{
    var name = "ali";
    switch (name)
    {
        case "ali" :
            <p>its ali</p>
            break;
        default:
            <p>not found</p>
            break;
    }
}
