/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
.nav{
    background: #d5d4d4;
    padding: 10px;
    /* text-align: center; */
}

.nav ul{
  list-style:none;
  display: inline-flex;
}
.nav ul li{
  padding: 20px;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
.nav ul li a:hover{
  text-decoration: underline;
  color: blue;
}
    /* Create two columns/boxes that floats next to each other */

  section{
      display: flex;
  }
  
  article {
    padding: 20px;
    background-color: #f1f1f1;
    height: 300px; 
  }
  

  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
.ColorB{
  color: blue;
}

.SideSection li a {
  text-decoration: none;
  list-style-type: none;
  color: green;
}
.SideSection{
  list-style: none;
}
.SideSection li{
  padding: 10px;

}
.SideSection li a:hover{
  text-decoration: underline;
 
}
